extends layout

block content
    body
        <!-- MAIN CONTENT -->
        div(class='pg-opt')
            div(class='container')
                div(class='row')
                    div(class='col-md-6')
                        h2 #{NOME}
                    div(class='col-md-6')
                        ol(class='breadcrumb')
                            li
                                a(href = "#")
                                    i
                                        img(src="../images/bandeiraP.png" style="max-width:30px; vertical-align: middle")
                            li
                                a(href = "#")
                                    i
                                        img(src="../images/bandeiraI.png" style="max-width:30px; height: 20px; vertical-align: middle")
                            li
                                a(href='/home') Home
                            li
                                a(href='/logout') Logout

        section(class='slice bg-white')
            div(class='wp-section')
                div(class='container')
                    if status
                        div(class=errors ? "alert alert-danger" : "alert alert-success")=status
                    div(class='wp-block default user-form')
                        div(class='form-header')
                            h2 Editar Conta - #{user.NAME}
                        div(class='form-body')
                            form(action='/account' id='frmLogin' class='sky-form' method='post' enctype='multipart/form-data')
                                fieldset(class='no-padding')
                                    section
                                    section
                                    section
                                        div(class='row')
                                            div(class='col-xs-6')
                                                div(class='form-group')
                                                    label(class='label') NIF
                                                    label(class='input')
                                                        i(class='icon-append fa fa-user')
                                                        input(type='text' name='nif' placeholder='' pattern='[0-9]{9}$' value=user.NIF)
                                                        b(class='tooltip tooltip-bottom-right') Necessario para inicar a sessão

                                            div(class='col-xs-6')
                                                div(class='form-group')
                                                    label(class='label') E-mail
                                                    label(class=errors.email ? 'input state-error' : 'input')
                                                        i(class='icon-append fa fa-envelope-o')
                                                        input(type='email' name='email' placeholder='' value=user.EMAIL)
                                                        b(class='tooltip tooltip-bottom-right') Necessario para verificar a sua conta
                                                        if errors.email
                                                            div(class="note note-error")=errors.email.message
                                    hr
                                    section
                                        div(class='row')
                                            section(class='col-xs-6')
                                                label(class='label') Nome Empresa
                                                label(class=errors.pnome ? 'input state-error' : 'input')
                                                    i(class='icon-append fa fa-user')
                                                    input(type='text' id='fname' name='fname' placeholder='', value=user.NAME)
                                                    if errors.pnome
                                                        div(class="note note-error")=errors.pnome.message
                                            section(class='col-xs-6')
                                                label(class='label') Contacto Telefonico
                                                label(class=errors.phone ? 'input state-error' : 'input')
                                                    i(class='icon-append fa fa-phone')
                                                    input(type='text' name='phone' placeholder='' pattern='[0-9]{9}$' value=user.PHONE)
                                                    if errors.phone
                                                        div(class="note note-error")=errors.phone.message

                                fieldset
                                    section
                                        label(class=errors.morada ? 'input state-error' : 'input')
                                            input(type='text' name='morada' placeholder='Morada' value=user.STREET)
                                            if errors.morada
                                                div(class="note note-error")=errors.morada.message
                                    div(class='row')
                                        section(class='col-xs-4')
                                            label(class=errors.country ? 'select state-error' : 'select')
                                                select(name='country')
                                                    option(value='0' disabled='') País
                                                    each name, value in countries
                                                        if value == user.COUNTRY
                                                            option(value=value selected='selected') #{name}
                                                        else
                                                            option(value=value) #{name}
                                                if errors.country
                                                    div(class="note note-error")=errors.country.message
                                        section(class = 'col-xs-4')
                                            label(class=errors.concelho ? 'input state-error' : 'input')
                                                input(type='text' name='city' placeholder='Cidade' value=user.CITY)
                                                if errors.concelho
                                                    div(class="note note-error")=errors.concelho.message
                                        section(class='col-xs-3')
                                            label(class=errors.codpost ? 'input state-error' : 'input')
                                                input(type='text' name='codpost' placeholder='Codigo Postal' pattern='[0-9]{4}-[0-9]{3}$' value=user.ZIP_CODE)
                                                if errors.codpost
                                                    div(class="note note-error")=errors.codpost.message
                                div(class='row')
                                    figure(class="myfigure")
                                        img(class="joint-img" id="img1" name="img1" src="/images/upload/" + user.img_path alt="your image")
                                        figcaption
                                            label(class="custom-file-upload")
                                                input(class="joint" type='file' id="foto1" name="foto1")
                                                input(type="hidden" name="namefoto" value=user.img_path)
                                                p Mudar Imagem

                                    section
                                        section
                                            input(type="submit" class='btn btn-base pull-right' value='Guardar alterações')

                                    script.
                                        function readURL(input) {
                                            if (input.files && input.files[0]) {
                                                var reader = new FileReader();
                                                reader.onload = function (e) {
                                                    $('#img1').attr('src', e.target.result)
                                                }
                                                reader.readAsDataURL(input.files[0]);
                                            }
                                        }
                                        $(".joint").change(function () {
                                            readURL(this);
                                        })
