extend layout

block content
	body
		div(class='pg-opt')
			div(class='container')
				div(class='row')
					div(class='col-md-6')
						h2 #{NOME}
					div(class='col-md-6')
						ol(class='breadcrumb')
							li
								a(href = "#")
									i
										img(src="../images/bandeiraP.png" style="max-width:30px; vertical-align: middle")
							li
								a(href = "#")
									i
										img(src="../images/bandeiraI.png" style="max-width:30px; height: 20px; vertical-align: middle")
							li
								a(href='/account') O meu perfil
							li
								a(href='/logout') Logout
		section(class='slice bg-white')
			div(class='wp-section')
				div(class='container')
					.span9
						.content
							.module.message
								.module-head
									h3 Encomendas
								.module-body.table(style='margin-top: 20px;')
									table#example.datatable-1.table.table-message(cellpadding='0', cellspacing='0', border='0', width='100%', aria-describedby='DataTables_Table_0_info', style='width: 100%;')
										if encomendas
											thead
												tr
													th Referência
													th NIF Cliente
													th Data da Encomenda
													th Prazo de Entrega
													th.cell-status.hidden-phone.hidden-tablet Estado
											tbody
												if encomendas
													for encomenda in encomendas
														tr.task
															td
																a(href="/orderInfo/" + encomenda.ID_ORDER  style = "display:block; width:100%; height:100%; border:none; outline:none; text-decoration:none; color:inherit;")
																	| #{encomenda.ID_ORDER}
															td
																a(href="/orderInfo/" + encomenda.ID_ORDER style = "display:block; width:100%; height:100%; border:none; outline:none; text-decoration:none; color:inherit;")
																	| #{encomenda.Client_NIF}
															td
																a(href="/orderInfo/" + encomenda.ID_ORDER style = "display:block; width:100%; height:100%; border:none; outline:none; text-decoration:none; color:inherit;")
																	| #{prettyDate(encomenda.BEGIN_DATE)}
															td
																a(href="/orderInfo/" + encomenda.ID_ORDER style = "display:block; width:100%; height:100%; border:none; outline:none; text-decoration:none; color:inherit;")
																	| #{prettyDate(encomenda.ASKED_DELIVERY_DATE)}
															td.cell-status.hidden-phone.hidden-tablet
																if(encomenda.STATUS == 1)
																	p Em Processamento
																else
																	if(encomenda.STATUS == 2)
																		p Cancelada
																	else
																		p Não Aprovada
										else
											thead
												tr
													p Ainda não foram resgistadas encomendas!!
					br
					a(href="/prodef")
						input(type="button" class='btn btn-base btn-icon btn-icon-right pull-right' style='width: 150px;' value='Nova Encomenda')
