extends layout
block content
    .span9
        .content
          .module.message
            .module-head
                h3 Encomendas
            .module-body.table(style='margin-top: 20px;')
                table#example.datatable-1.table.table-message(cellpadding='0', cellspacing='0', border='0', width='100%', aria-describedby='DataTables_Table_0_info', style='width: 100%;')
                    thead
                        tr
                            th Referência
                            th NIF Cliente
                            th Data da Encomenda
                            th Prazo de Entrega
                            th.cell-status.hidden-phone.hidden-tablet Estado
                    tbody
                        -function prettyDate(date){
                            //if it's already a date object and not a string you don't need this line:
                            -var d = date.getDate();
                            -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                            -var m = monthNames[date.getMonth()];
                            -var y = date.getFullYear();
                            -return d+' '+m+' '+y;
                        -}
                        -for(var i=0;i<ordersMiss.length;i++)
                                tr.task
                                    td
                                        a(href="#" style = "display:block; width:100%; height:100%; border:none; outline:none; text-decoration:none; color:inherit;")
                                            |#{ordersMiss[i].ID_ORDER}
                                    td
                                        a(href="#" style = "display:block; width:100%; height:100%; border:none; outline:none; text-decoration:none; color:inherit;")
                                            | #{ordersMiss[i].Client_NIF}
                                    td
                                        a(href="#" style = "display:block; width:100%; height:100%; border:none; outline:none; text-decoration:none; color:inherit;")
                                            | #{prettyDate(ordersMiss[i].BEGIN_DATE)}
                                    td
                                        a(href="#" style = "display:block; width:100%; height:100%; border:none; outline:none; text-decoration:none; color:inherit;")
                                            | #{prettyDate(ordersMiss[i].ASKED_DELIVERY_DATE)}
                                    td.cell-status.hidden-phone.hidden-tablet
                                            b.due Não Aprovada

                        -for(var i=0;i<otherOrders.length;i++)
                                tr.task.resolved
                                    td
                                        |#{otherOrders[i].ID_ORDER}
                                    td
                                        | #{otherOrders[i].Client_NIF}
                                    td
                                        | #{prettyDate(otherOrders[i].BEGIN_DATE)}
                                    td
                                        | #{prettyDate(otherOrders[i].ASKED_DELIVERY_DATE)}
                                    td.cell-status.hidden-phone.hidden-tablet
                                        -if(otherOrders[i].STATUS==1)
                                             | Em Processamento
                                        -else
                                            -if(otherOrders[i].STATUS==2)
                                                | Cancelada


